<h1 style="text-align: center;">My dashboard</h1>

<ul>
  <li>
    <%= link_to "Create new exercise", new_exercise_path, class: "btn btn-primary" %>
  </li>
  <li>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </li>
</ul>
