<%= render 'shared/exercise_show', exercises: @exercises, attempts: @attempts, attempt: @attempt %>

<%content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $(".exercise-links").click(function(event) {
        event.preventDefault();
        url = event.currentTarget.href;

        $.get(url, function(data) {
          // success callback;
          el = $("<div></div>");
          el.html(data);
          new_results = $("#exercise-information", el).html()
          $('#exercise-information').html(new_results);
        })
      });
    });

  </script>
<% end %>
