<%= render 'shared/exercise_show', exercises: @exercises, attempts: @attempts, attempt: @attempt %>

<%content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $(".exercise-links").click(function(event) {
        event.preventDefault();
        url = event.currentTarget.href;

        $.get(url, function(data) {
          // success callback;
          el = $("<div></div>");
          el.html(data);
          new_results = $("#exercise-information", el).html()
          $('#exercise-information').html(new_results);
        })
      });

      MG.data_graphic({
        title: "Attempts",
        description: "This graphic shows a time-series of downloads.",
        data: <%= @data %>,
        width: 600,
        height: 250,
        target: '#graph',
        x_accessor: 'date',
        y_accessor: 'time_taken',
      })
    });

  </script>
<% end %>
