.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 70px);
}

.column-25 {
  width: 25%;
  flex: 0 1 auto;
}

.column-50 {
  width: 45%;
  flex: 1 0 auto;
}

.column-75 {
  width: 75%;
  flex: 1 0 auto;
}

#primary-information {
  min-height: 300px;
  margin: 20px;
}

#secondary-information {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  div {
    flex: 1 0 auto;
  }
}

#exercise-list {
  border-right: 1px $gray-light solid;
  padding-top: 10px;
}
