.exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px $gray-lighter solid;
  background-color: white;
}

.exercise-body {
  flex: 0 1 auto;
  a > p {
    text-align: center;
  }
}

.exercise-btns {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0px;
  width: 15%;
  a {
    flex: 0 0 auto;
    text-decoration: none;
  }
}

.active {
  background-color: $gray-lighter;
}
