<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card">
        <h1>Edit your exercise</h1>

        <%= render 'exercise_form' %>
      </div>
    </div>
  </div>
</div>
