<div id="exercise-information">
  <div class="card" id="primary-information">
    <%= render 'shared/exercise_results', attempts: @attempts %>
  </div>
  <div id="secondary-information">
    <div class="column-50 card" style="margin-right: 10px;">
      <h2>Left table</h2>
      <h4>(Progress to a goal)</h4>
    </div>
    <div class="column-50 card" style="margin-left: 10px;">
      <h2>Right table</h2>
    </div>
  </div>
</div>
